// fonts
@import './styles/fonts';

// relative path to the node module via sass

@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid.scss';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular.scss';

// import via node_modules ~ alias
//  ./../../node_modules/bootstrap

@import '~bootstrap/scss/bootstrap-reboot';
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/bootstrap-utilities';

@import './styles/variables';

// ui
@import './styles/ui/index';

// common site components
@import './styles/commom/index';

// home page components
@import './styles/home/index';

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: $gray-primary;
}

a,
button,
input[type='button'] {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  border: none;
  background: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
}
